name: Validate Mods JSON on Pull Request

on:
  pull_request:
    paths:
      - "mods.json"

jobs:
  validate-mods-json:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install requests

      - name: Validate mods.json
        run: python scripts/validate_mods.py
